.container {
  background-image: url(https://i.pinimg.com/originals/a5/5e/84/a55e84a0ba39069a2a00eb6ef06a73db.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
